body {
  font-family: "Poppins", sans-serif;
}

.jumbotron {
  background-color: #e2edff;
  padding-top: 8rem;
}

section {
  padding-top: 5rem;
}

#projects {
  background-color: #e2edff;
}

footer {
  background-color: rgb(39, 39, 231);
}
