* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: url(../images/crossword.png) repeat,
    linear-gradient(#194fb3, #7499df);
  color: #fff;
}

header {
  text-align: center;
  padding: 50px 20px 20px;
}

header h1 {
  margin: 0;
  font-size: 2em;
}

header p {
  margin: 5px 0;
  font-size: 1em;
  opacity: 0.8;
}

.hero {
  max-width: 800px;
  width: 90%;
  background: url(../images/crossword.png) repeat, white;
  color: #333;
  margin: 30px auto;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  position: relative;
}

.hero img {
  width: 150px;
  height: 150px;
  max-width: 100%;
  border-radius: 50%;
  border: 5px solid #7499df;
  margin-bottom: 20px;
  transition: 0.2s;
}

.hero img:hover {
  border: 5px solid rgb(73, 129, 194);
  transition: 0.2s;
}

.hero h2 {
  margin: 10px 0;
  font-size: 1.5em;
  color: #6b92da;
}

.hero p {
  margin: 10px auto;
  max-width: 500px;
  font-size: 1em;
}

.buttons {
  margin-top: 20px;
}

.buttons a {
  text-decoration: none;
  color: white;
  background: #4481f1;
  padding: 10px 20px;
  border-radius: 25px;
  margin: 0 10px;
  display: inline-block;
  transition: background 0.3s ease;
  font-size: 1em;
}

.buttons a:hover {
  background: #0059ff;
}

/* Project Card */
.project-card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 350px;
  margin: 20px auto;
  transition: transform 0.3s ease;
  height: 100%;
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-card img {
  width: 100%;
  height: auto;
  display: block;
}

.project-info {
  padding: 15px;
}

.project-info h3 {
  margin: 0 0 10px;
  font-size: 18px;
  color: #333;
}

.project-info p {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

.project-info a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background-color: #007acc;
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 14px;
  transition: background-color 0.3s;
}

.project-info a:hover {
  background-color: #005f99;
}

ul {
  display: flex;
  gap: 50px;
  justify-content: center;
}

/* Footer */
.footer {
  background: #4582f3;
  color: #fff;
  text-align: center;
  padding: 15px 10px;
  margin-top: 40px;
}

.footer p {
  margin: 0;
  font-size: 14px;
}

.social-links {
  margin-top: 8px;
}

.social-links a {
  color: #fff;
  text-decoration: none;
  margin: 0 8px;
  font-size: 14px;
  transition: color 0.3s;
}

.social-links a:hover {
  color: #d0e9ff;
}

/* Media Query: atur tampilan di HP */
@media (max-width: 600px) {
  header h1 {
    font-size: 1.5em;
  }

  .hero {
    padding: 10px;
  }

  .buttons a {
    display: block; /* tombol turun ke bawah */
    margin: 10px auto;
    width: 80%; /* tombol lebih lebar dan enak di tap */
  }
  ul {
    display: block;
    justify-content: center;
  }
}
